body {
  background-color: black;
  height: 100vh;
  margin: 0;
}

#morning-vid-wrapper {
  height: 50vh;
  position: relative;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

video#morning-vid {
  /*width: 100%;
  height: auto;
  height: auto;*/
  left: 0;
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -100;
  -webkit-transform: scaleX(2); 
  -moz-transform: scaleX(2);
}

.morning-vid-cover {
  background-color: red;
  bottom: 0;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.6;
  position: absolute;
  right: 0;
  width: auto;
  z-index: 2;
}

.morning-vid-txt {
  color: white;
  font-family: 'Quicksand';
  font-size: 115px;
  font-weight: 100;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 3;
}
