body {
  background-color: #222;
  font-family: Futura;
  height: 100vh;
  margin: 0;
}

h1,h2,h4,h5,h6 {
  font-family: 'Quicksand';
}

.time-li {
  font-family: 'Quicksand';
  color: #fff;
}

#issues li h1 {
  color: #BAD6FF;
}

a:hover,
  a.selected {
    color: #BAD6FF;
  }

#morning-vid-container {
  height: 100vh;
}

#morningT-container {
  position: absolute;
  height: 100vh;
  background-color: #222;
  z-index: 2;
  width: 100%;
}

video#morning-vid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
/*  width: auto;
  height: auto;*/
  z-index: -100;
}

.morning-vid-cover {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 2;
  background-color: yellow;
  opacity: 0.6;
}

.morning-vid-txt {
  color: white;
  font-family: 'Quicksand';
  font-size: 550%;
  font-weight: 100;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 3;
  top: 35%;
}

.arrow {
  border-radius: 100%;
  border: 1px solid white;
  height: 50px;
}
