body {
  font-family: futura;
  font-weight: 100;
  color: white;
}

.time-of-day {
  /*font-family: 'Quicksand';*/
  font-size: 5em;
  font-weight: 100;
}

a {
  color: #fff;
}

a:hover, a.selected{
  color: #99FF99;
}

#issues li h1 {
  color: #99FF99;
}


/********************* HOME VID STYLES *********************/
#home-vid-container {
  height: 100vh;
  width: 100vw;
  background-color: lightpink;
}

#home-vid {
  width: 100%;
  height: 100%;
  position: absolute;
}

.home-vid-cover {
  position: absolute;
  background-color: #669999;
  opacity: 0.5;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.home-vid-txt {
  color: white;
  /*font-family: 'Quicksand';*/
  font-size: 550%;
  position: absolute;
  text-align: center;
  top: 35%;
  width: 100%;
  z-index: 3;
}
/********************* HOME VID STYLES *********************/



/********************* HOME SCRIPT STYLES *********************/
#home-script-container {
  height: 100vh;
  width: 100vw;
  background-color: lightblue;
}

.nutshell {
  height: 45px;
}

.home-script-txt {
  font-size: 30px;
  text-align: center;
  padding-top: 20%;
}
/********************* HOME SCRIPT STYLES *********************/


/********************* MORNING VID STYLES *********************/
#morning-vid-container {
  height: 100vh;
  width: 100vw;
  background-color: #99FF99;
  position: relative;
}

#morning-vid {
  width: 100%;
  height: 100%;
  position: absolute;
}

.morning-vid-cover {
  position: absolute;
  background-color: #99FF99;
  opacity: 0.5;
  z-index: 2;
  width: 100%;
  height: 100%;
}

h3 {
  font-weight: 100;
}

.morning-vid-txt {
  color: white;
  /*font-family: 'Quicksand';*/
  font-size: 550%;
  position: absolute;
  text-align: center;
  top: 35%;
  width: 100%;
  z-index: 3;
}

.arrow {
  border: 2px solid white;
  border-radius: 100%;
  height: 50px;
}
/********************* MORNING VID STYLES *********************/


/********************* MORNING TIMELINE STYLES *********************/

#morning-timeline-container {
  height: 100vh;
  width: 100vw;  
  background-color: #222;
  text-align: center;
}

#timeline {
  margin: 10% auto;
}



/********************* MORNING TIMELINE STYLES *********************/



/********************* AFTERNOON VID STYLES *********************/
#afternoon-vid-container {
  height: 100vh;
  width: 100vw;
  background-color: #FFCC66;
  position: relative;
}

#afternoon-vid {
  width: 100%;
  height: 100%;
  position: absolute;
}


.afternoon-vid-cover {
  position: absolute;
  background-color: #FFCC66;
  opacity: 0.5;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.afternoon-vid-txt {
  color: white;
  /*font-family: 'Quicksand';*/
  font-size: 550%;
  position: absolute;
  text-align: center;
  top: 35%;
  width: 100%;
  z-index: 3;
}
/********************* AFTERNOON VID STYLES *********************/




/********************* AFTERNOON TIMELINE STYLES *********************/
#afternoon-timeline-container {
  height: 100vh;
  width: 100vw;  
  background-color: #222;
  text-align: center;
}
/********************* AFTERNOON TIMELINE STYLES *********************/



/********************* EVENING VID STYLES *********************/
#evening-vid-container {
  height: 100vh;
  width: 100vw;
  background-color: #C199C1;
  position: relative;
}

.evening-vid-cover {
  position: absolute;
  background-color: #C199C1;
  opacity: 0.5;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.evening-vid-txt {
  color: white;
  /*font-family: 'Quicksand';*/
  font-size: 550%;
  position: absolute;
  text-align: center;
  top: 35%;
  width: 100%;
  z-index: 3;
}
/********************* EVENING VID STYLES *********************/

/********************* EVENING TIMELINE STYLES *********************/
#evening-timeline-container {
  height: 100vh;
  width: 100vw;  
  background-color: #222;
  text-align: center;
}
/********************* EVENING TIMELINE STYLES *********************/




#menu {
transition: all 0.3s ease;
position: fixed;
width: 0%;
top: 0;
left: -200px;
background: rgb(0, 0, 0);
height: 100%;
z-index: 999;
box-shadow: 0px 0px 10px black;
}
#menu a {
color: white;
display: block;
text-align: center;
text-decoration: none;
padding: 10px 10px 10px 10px;
margin: 10px 10px 10px 10px;
border-radius: 100px;
transition: all 0.2s ease;
}
#menu a:hover {
background: rgb(50, 50, 50);
}
#menu-toggle {
position: fixed;
top: 20px;
left: 0;
background: rgb(0, 100, 100);
z-index: 1000;
padding-left: 10px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
transition: all 0.3s ease;
}
#menu-toggle:hover {
cursor: pointer;
}
#menu.open {
left: 0;
width: 200px;
display: block;
}
#menu-toggle.open {
left: 200px;
}