<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bae's Timeline</title>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/lib/animations.min.css">
  <link rel="stylesheet" href="css/lib/timelinr.css">
  <link rel="stylesheet" href="css/lib/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  <div id="nav">
    <div id="menu-toggle">
      <img src="css/images/menu.png" width=20 height=20 alt=""></img>
    </div>
    <nav id="menu">
      <a class="menu-item" href="#home" id="home-tab">Home</a>
      <a class="menu-item" href="#morning" id="morning-tab">Morning</a>
      <a class="menu-item" href="#afternoon" id="afternoon-tab">Afternoon</a>
      <a class="menu-item" href="#evening" id="evening-tab">Evening</a>
      <a class="menu-item" href="#contacts" id="contacts-tab">Contacts</a>
    </nav>
  </div>

  <div id="view">
    
    <!-- VIEW INJECTION -->

  </div>

  <div id="timeline-view">
    
    <!-- TIMELINE -->

  </div>

  <script type="text/template" id="home-template"> 
    <div id="home">
      <video src="videos/welcome.mp4" autoplay="autoplay" loop="loop" preload="auto" id="home-vid">
      </video>

      <div class="home-vid-cover">
      </div>

      <div class="home-vid-txt">
        <div class="animate-in" data-anim-type="fade-in-up-large" data-anim-delay="200">
          <h1>Hello!</h1>
        </div>
        <a href="#home-script-container" class="smoothScroll">
          <img src="css/images/down-arrow.png" class="arrow">
        </a>
      </div>
    </div><!-- HOME VID DIV -->

    <div id="home-script-container">
      <div class="home-script-txt">
        <p>This is</p>
        <p>my life</p>
        <p>in a</p>
        <p>nutshell</p>
        <a href="#" data-toggle="tooltip" data-placement="bottom" id="tooltip" title="I'm inside! -Life">
          <img src="css/images/nutshell.png" class="nutshell">
        </a>
      </div>
    </div>
  </script>

  <script type="text/template" id="morning-template">
    <div id="morning">
      <video src="videos/morning.mp4" autoplay="autoplay" loop="loop" preload="auto" id="morning-vid">
      </video>

      <div class="morning-vid-cover">
      </div>

      <div class="morning-vid-txt">
        <div class="animate-in" data-anim-type="fade-in-up-large" data-anim-delay="200">
          <h1>MORNING</h1>
        </div>
        <a href="#morning-timeline-container" class="smoothScroll">
          <img src="css/images/down-arrow.png" class="arrow">
        </a>
      </div>
    </div><!-- MORNING VID DIV -->
  </script>


  <script type="text/template" id="afternoon-template">
    <div id="afternoon">
      <video src="videos/afternoon.mp4" autoplay="autoplay" loop="loop" preload="auto" id="afternoon-vid">
      </video>

      <div class="afternoon-vid-cover">
      </div>

      <div class="afternoon-vid-txt">
        <div class="animate-in" data-anim-type="fade-in-up-large" data-anim-delay="200">
          <h1>AFTERNOON</h1>
        </div>
        <a href="#afternoon-timeline-container" class="smoothScroll">
          <img src="css/images/down-arrow.png" class="arrow">
        </a>
      </div>
    </div><!-- AFTERNOON VID DIV -->
  </script>

  <script type="text/template" id="evening-template">
    <div id="evening">
      <video src="videos/evening.mp4" autoplay="autoplay" loop="loop" preload="auto" id="afternoon-vid">
      </video>

      <div class="evening-vid-cover">
      </div>

      <div class="evening-vid-txt">
        <div class="animate-in" data-anim-type="fade-in-up-large" data-anim-delay="200">
          <h1>EVENING</h1>
        </div>
        <a href="#evening-timeline-container" class="smoothScroll">
          <img src="css/images/down-arrow.png" class="arrow">
        </a>
      </div>
    </div><!-- EVENING VID DIV -->
  </script>

  <script type="text/template" id="timeline-template">
    <div id="<%= part %>-timeline-container">
      <div class="<%= part %>-timeline-body" id="timeline-body">
        <span class="time-of-day"><%= part %></span>
        <div id="timeline">
          <ul id="dates">
            <% this.collection.each(function(model) { %>
            <% image = model.get('image'); %>
            <% desc = model.get('desc'); %>
            <% time = model.get('time'); %>
            <li><a href="#<%= time %>" class="time-li"><%= time %></a></li>
            <% }); %>
          </ul>
          <ul id="issues">   
            <% this.collection.each(function(model) { %>
            <% time = model.get('time'); %>
            <% image = model.get('image'); %>
            <% desc = model.get('desc'); %>
            <li id="<%= time %>" class="issues-li">
              <img src="<%= image %>" class="issues-img"/>
              <h1><%= time %></h1>
              <p><%= desc %></p>
            </li>
            <% }); %>  
          </ul>
          <div id="grads">
          <div id="grad_left"></div>
          <div id="grad_right"></div>
            <a href="#" id="next" style="display: block;">+</a>
            <a href="#" id="prev" style="display: block;">-</a>
        </div>
      </div>
    </div><!-- end timeline -->
  </script>

  <script type="text/template" id="contacts-template">
    <div id="contacts">
      <div class="contacts-body">
        <h1 class="contacts-txt">contacts</h1>
        <div class="col-xs-6 col-md-4">
          <img src="css/images/social/gmail.png" class="social-icon">
          <div class="contacts-name">
            <a href="mailto:bae.annie@gmail.com">
              <p>GMAIL +</p>
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <img src="css/images/social/instagram.png" class="social-icon">
          <div class="contacts-name">
            <a href="https://instagram.com/anniebae/" target="_blank">
              <p>INSTAGRAM +</p>
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <img src="css/images/social/twitter.png" class="social-icon">
          <div class="contacts-name">
            <a href="https://twitter.com/bae_annie" target="_blank">
              <p>TWITTER +</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </script>


  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/lib/jquery.timelinr.js"></script>
  <script src="js/lib/animations.min.js"></script>
  <script src="js/lib/appear.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/lib/smoothscroll.js"></script>
  <script src="./data.js"></script>
  <script src="js/models/hour.js"></script>
  <script src="js/collections/timeline.js"></script>
  <script src="js/views/timeline.view.js"></script>
  <script src="js/views/nav.view.js"></script>
  <script src="js/views/layout.view.js"></script>
  <script src="js/main.js"></script>
</body>
</html>